<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings configSource="UserSecrets\appSettings.config">

  </appSettings>
</configuration>

<!--

IMPORTANT: WHEN SETTING THE APPLICATION UP FOR THE FIRST TIME AFTER CLONING THE REPOSITORY, CREATE THE MISSING AppSettings.config FILE
IN THE UserSecrets folder, AND PASTE THE CONTENTS BELOW, CHANGING THE VALUES TO YOUR OWN PREFERENCES.

IF YOU ARE USING A DEFAULT INSTANCE OF SQL SERVER RATHER THAN A NAMED INSTANCE, THEN JUST SET THE instanceName VALUE TO AN EMPTY STRING.

Setting the shrinkage value may cause poor performance and heavy memory usage.  It is better to use MaxRows and set it to a small value
until such time as performance improvements can be figured out.

<appSettings>
  <add key="instanceName" value="<your-computer-name>\<your-instance-name>"/>
  <add key="originalDatabaseName" value="AdventureWorks2017"/>
  <add key="copyDatabaseName" value="AdventureWorksVersion2"/>
  <add key="shrinkage" value="0"/>
  <add key="maxRows" value="10"/>
  <add key="tweakNumerics" value="true"/>
  <add key="listDbs" value="false"/>
  <add key="verbose" value="false"/>
</appSettings>

-->